@use "variables.module" as *;
@use "sass:map";

.container {
  display: flex;
  flex-flow: column wrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  img { margin-right: 15px; }

  background-color: map.get($colors, "grey-bg");
  align-content: flex-start;
  justify-content: center;
  height: calc(100vh - 2 * #{$vertical-padding});
}

// hides scrollbar
.container::-webkit-scrollbar { display: none; }
